[{:title "Babashka pods から使う clj-kondo"
  :link "https://tech.toyokumo.co.jp/entry/clj-kondo-as-bb-pods"
  :pubDate "Mon, 12 Dec 2022 09:02:12 +0900"}
 {:title "Clojureのリンターclj-kondoの使い方"
  :link "https://tech.toyokumo.co.jp/entry/clj-kondo"
  :pubDate "Tue, 26 Jul 2022 15:00:00 +0900"}]
